#about{
		padding-top:5%;
}
#about img{
	width:300px;
	margin-bottom:10px;	
}
.btn_explore{
	margin-top:5%;
}
#portfolio img{
	transform:rotate();

}
.masthead h1{
	//color:#fff;
}
.masthead h3{
 margin:0 auto;
 width:50%;
 border:2px solid #000;
 //background:#000; 
 //opacity: 0.6;
 color:#000;
}
@media only screen and (max-width: 990px){          
.masthead h3{
	margin:0 auto;
	width:90% !important;
	}
}
.callout h2{
	color:#fff;
}
footer .powerdby{
	font-size: 15px;
}
.service-icon rounded-circle mx-auto mb-3:hover{	
	background: cyan;
}
.icon-grid:hover{
	transition: all ease-in-out 0.2s;
	color:pink;
}
.icon-layers:hover{
	transition: all ease-in-out 0.2s;
	color:pink;
}
.icon-chart:hover{
transition: all ease-in-out 0.2s;
	color:pink;
}
.fa fa-heart:hover{
transition: all ease-in-out 0.2s;
	color:pink;
}